/* Style the label to be in the middle of the text field*/
input+label,
textarea+label {
  position: absolute;
  font-size: 16px;
  margin: 0 20px;
  padding: 0 2px;
  color: gray;
  background-color: transparent;
  transition: 0.3s ease;
  font-weight: 300;
  top: 14px;
  left: -3px;
  cursor: text;
}

/* Moves the label text to the input field border */
input:focus-within+label,
input:not(:placeholder-shown)+label,
textarea:focus-within+label,
textarea:not(:placeholder-shown)+label {
  padding: 0 2px;
  background-color: #fff;
  color: var(--gray-900);
  top: -12px;
  left: -3px;
  font-size: 14px;
  font-weight: 400;
  bottom: auto;
}

/* Hide increment / decrement button on number fields */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}